<div class="h-screen w-screen flex flex-col justiy-center items-center">
<div class="w-full grid grid-cols-3">
  <div class="bg-blue-500 p-3 col-span-1">some</div>
  <div id="terminal" class="bg-blue-200 p-3 col-span-2">
  </div>
</div>
</div>
