<div id="mmenu_screen" class="container-fluid d-flex">
  <div class="row gx-2 flex-fill">
    <div class="col-4 border bg-dark p-2 text-white rounded">
      <ul class="nav nav-tabs m-2" id="myTab" role="tablist">
        <li class="nav-item pl-2" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                        data-bs-target="#home" type="button" role="tab"
                                                                                             aria-controls="home" aria-selected="true">
            任务
          </button>
        </li>
        <li class="nav-item pl-2" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
            提示
          </button>
        </li>
        <li class="nav-item pl-2" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
            答案
          </button>
        </li>
        <li class="nav-item ml-5" style="font-size: 1.5em;" role="presentation">
          <span>
            <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="/assets/bootstrap-icons.svg#alarm"></use>
            </svg>
          </span>
          <span class="text-white">&nbsp;00:40</span>
        </li>
      </ul>
      <div class="tab-content m-4" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="container">
            <div class="row">
              <ul class="nav">
                <% @task_catalog.count&.times do |i|  %>
                  <li class="nav-item bg-info m-1 p-1 text-center rounded" style="width: 2rem;">
                    <%= i + 1 %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="row">
              <button class="btn btn-primary btn-sm m-3" style="width: 10rem;">下一题</button>
            </div>
            <div class="row" style="font-size: 1.5rem;">
              <%= Kramdown::Document.new(@current_task.text).to_html.html_safe %>
            </div>
            <div class="row">
              <%= @current_task.subtext %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          Profile tab
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
    </div>

    <div id="terminal" class="col-8 border bg-dark rounded p-2">
      <div class="row">
        <ul class="nav pl-2">
          <li class="nav-item">
            <a class="nav-link active text-muted" href="#">Terminal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-muted" href="#">+</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <iframe src="/console"></iframe>

      </div>
    </div>
  </div>
</div>
<div id="popup-preloader" class="preloader-popup zoom-anim-dialog">  <!-- mfp-hide -->
  <div class="preloader__wrapper">
    <div class="preloader__desc">
      <div class="preloader__title">Loading...</div>
      <div class="preloader__text">Lab ready. Connecting..</div>
      <div class="feedback" style="display: none;">
        <br>
        We would appreciate your feedback on the lab session.
        Please select any issue if you've had.
        <br>
        <br>

        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_no_issues" name="NO Issues">
          No issues faced
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_ui_issues" name="UI Issues">
          User Interface Issues
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_terminal_issues" name="Terminal Issues">
          Terminal Issues
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_terminal_lag" name="Terminal Lag">
          Slow or Unresponsive Terminal
        </label>
        </p>
        <p>
        <label class="checkbox-container">
          <input type="checkbox" class="checkbox" id="check_content_issues" name="Terminal Lag">
          Content Issues
        </label>
        </p>
        <br>
        <p> Additional Details <br>
        <textarea class="input" name="" id="feedback_description" rows="5"></textarea>
        </p>
        <button id="btn-submit" class="btn-primary" onclick="submit_feedback()">Submit</button>
      </div>
    </div>

    <div>
      <div class="preloader__animation">
        <div class="preloader__item preloader__square1"></div>
        <div class="preloader__item preloader__square2"></div>
        <div class="preloader__item preloader__square3"></div>
        <div class="preloader__item preloader__square4"></div>
        <div class="preloader__item preloader__square5"></div>
        <div class="preloader__item preloader__square6"></div>
        <div class="preloader__item preloader__square7"></div>
        <div class="preloader__item preloader__square8"></div>
        <div class="preloader__item preloader__square9"></div>
      </div>
    </div>
  <div class="preloader__progress"></div>
  <button id="btn-retry" style="display: none;" class="btn-primary" onclick="reset_lab()">Try Again</button>
  <div id="load_time" class="header__item">Load Time: 00:06</div>
  </div>

</div>
