<!-- footer -->
<div class="footer pt-11 pb-3 bg-dark text-base">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white">About</h4>
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Meet Coach</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Press</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Social Feed</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link"> Help</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Blog</h4>
                    <ul class="list-unstyled list-group ">
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Business Coaching</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Relationship</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Leadership</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Life Coaching</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Time Management</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Resources</h4>
                    <ul class="list-unstyled list-group ">
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Online Courses</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link"> Books Meditation</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link"> Podcast</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Albums</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Download App</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Follow Me</h4>
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Instagram</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link"> Facebook</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link"> LinkedIn</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">YouTube</a></li>
                        <li class="list-group-item"><a href="#!" class="list-group-item-link">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-12">
                <div class="mb-4">
                    <h4 class="mb-4 text-white">Subscribe to our newsletter</h4>
                    <div class="">
                        <p>Subscribe to get notified daily new motivational & inspiration tips.</p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control border-white" placeholder="Email Address" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mt-8">
                    <ul class="list-inline">
                        <li class="list-inline-item">© 2020 Coach, Inc.</li>
                        <li class="list-inline-item"><a href="#!" class="text-reset"> Privacy Policy </a></li>
                        <li class="list-inline-item"><a href="#!" class="text-reset"> Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>