    <div class="bg-shape bg-cover" style="background-image:linear-gradient(180deg, rgba(30, 24, 53, 0.4) 0%, rgba(30, 24, 53, 0.4) 90.16%),
       url(/assets/program-hero-img.jpg); margin-top: -35px;
     ">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                    <div class=" py-12 py-lg-15 text-light text-center">
                        <h1 class="font-weight-bold text-white mb-3 display-4">
                            Browse Courses
                        </h1>
                        <p class="lead mb-0">
                        在线交互式课程，高品质定制。即学即用，一学就会。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
